onepage/create
<h1>Visao - Missao do Distribuidor</h1>

<%= form_for(@onepage) do |f| %>
  
  

<%= f.label :visao %>
<%= f.text_field :visao, placeholder: "missao" %><br><br>
<%= f.label :missao %>
<%= f.text_field :missao, placeholder: "missao"%><br><br>



<%= f.submit "Next" %>
<% end %>
