<h1><%= current_user.username %></h1><h3> JBP 2021</h3>




<h1>Canal Distribuidores</h1>
<table class="styled-table">
<tbody>
<%= form_for(@document) do |f| %>
  
<tr>

    <td><%= f.label :distribuidor %></td>
    <td><%= f.text_field :distribuidor, placeholder: "distribuidor" %><br><br></td>
</tr>
<tr>
<td><%= f.label :responsavel %></td>
<td><%= f.text_field :responsavel, placeholder: "responsavel"%><br><br></td>
</tr>
<tr>
<td><%= f.label :created_at %></td>
<td><%= f.datetime_local_field :created_at %><br><br></td>
</tr>
</tbody><br><br>
</table>

<table class="styled-table">
<tbody>
<tr>
<td><%= f.label :visao %>v
<td><%= f.text_field :visao, placeholder: "visao" %><br><br></td>
<tr>
<tr>
<td><%= f.label :missao %></td>
<td><%= f.text_field :missao, placeholder: "missao"%><br><br></td>
</tr>
</tbody>
</table>

<table class="styled-table">
<tbody>
<tr>
<td><%= f.label :codico %></td>
<td><%= f.text_field :codico, placeholder: "codico" %><br><br></td>
</tr>
<tr>
<td><%= f.label :snpj %>
<td><%= f.text_field :snpj, placeholder: "snpj"%><br><br></td>
</tr>
<tr>
<td><%= f.label :endereco %></td>
<td><%= f.text_field :endereco, placeholder: "endereco" %><br><br></td>
</tr>
<tr>
<td><%= f.label :email %></td>
<td><%= f.email_field :email, placeholder: "email"%><br><br></td>
</tr>
<tr>
<td><%= f.label :matriz %>
<td><%= f.text_field :matriz, placeholder: "matriz" %><br><br></td>
</tr>
<tr>
<td><%= f.label :filial %></td>
<td><%= f.text_field :filial, placeholder: "filial"%><br><br></td>
</tr>
<tr>
<td><%= f.label :filiall %></td>
<td><%= f.text_field :filiall, placeholder: "filiall"%><br><br></td>
</tr>
</tbody>
</table>

<%= f.submit "Submit" %>
<% end %>




    
</table>