<h1><%= current_user.username %></h1><h3> JBP 2021</h3>
<h1>Canal Distribuidores</h1>

<%= form_for(@document) do |f| %>
  
  

<%= f.label :distribuidor %>
<%= f.text_field :distribuidor, placeholder: "distribuidor" %><br><br>
<%= f.label :responsavel %>
<%= f.text_field :responsavel, placeholder: "responsavel"%><br><br>
<%= f.label :created_at %>
<%= f.date_select :created_at %><br><br>
<%= f.label :visao %>
<%= f.text_field :visao, placeholder: "visao" %><br><br>
<%= f.label :missao %>
<%= f.text_field :missao, placeholder: "missao"%><br><br>


<%= f.label :codico %>
<%= f.text_field :codico, placeholder: "codico" %><br><br>
<%= f.label :snpj %>
<%= f.text_field :snpj, placeholder: "snpj"%><br><br>
<%= f.label :endereco %>
<%= f.text_field :endereco, placeholder: "endereco" %><br><br>
<%= f.label :email %>
<%= f.email_field :email, placeholder: "email"%><br><br>
<%= f.label :matriz %>
<%= f.text_field :matriz, placeholder: "matriz" %><br><br>
<%= f.label :filial %>
<%= f.text_field :filial, placeholder: "filial"%><br><br>
<%= f.label :filiall %>
<%= f.text_field :filiall, placeholder: "filiall"%><br><br>



<%= f.submit "Submit" %>
<% end %>



